@import "tailwindcss";

@theme inline {
  --color-background: #fbf7ee;
  --color-foreground: #030303;
  --color-muted: #858585;
  --color-accent: #45101c;
  --color-accent-light: #faf6ed;
  --color-border: #dedede;
  --color-section-alt: #fafafa;
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-abhaya-libre);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #45101c;
  color: #fbf7ee;
}
